html,
body {
  height: 100%;
  margin: 0;
}
.leaflet-container {
  height: 400px;
  width: 600px;
  max-width: 100%;
  max-height: 100%;
}

.leaflet-popup-content-wrapper {
  border-radius: 5px;
  background-color: black;
  color: white;
  font-size: 20px;
}

.leaflet-popup-content {
  margin: 10px;
}

.leaflet-popup-tip {
  background: black;
}

.leaflet-popup-close-button {
  display: none;
}

img {
  width: 200px;
}
